In [317]:
import pandas as pd
import csv
import numpy as np
import matplotlib as plt
from unicodedata import normalize

In [305]:
df = pd.read_csv("searchfund_allv3.csv")

In [306]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1949 entries, 0 to 1948
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        1949 non-null   int64
 1   name              1948 non-null   object
 2   type              1949 non-null   object
 3   formed            1715 non-null   float64
 4   location_x        1949 non-null   object
 5   stage             1949 non-null   object
 6   company           614 non-null    object
 7   acquired          625 non-null    float64
 8   searchfund_index  1949 non-null   int64
 9   searchWebsite     1382 non-null   object
 10  companyWebsite    548 non-null    object
 11  industry          597 non-null    object
 12  location_y        599 non-null    object
 13  searchers         1949 non-null   object
 14  investors         1949 non-null   object
 15  associates        1949 non-null   object
dtypes: float64(2), int64(2), object(12)
memory usage: 243.8+ KB

In [307]:
df

,Unnamed: 0,name,type,formed,location_x,stage,company,acquired,searchfund_index,searchWebsite,companyWebsite,industry,location_y,searchers,investors,associates
0,0,Nova Capital,Single Sponsor,19840101.0,"Boston, MA, United States",Acquired,Uniform Printing,19840101.0,420,NaN,NaN,Business Services,"Fort Worth, TX, United States",['Jim\xa0Southern'],['Irv\xa0Grousbeck'],[]
1,1,Galena Corp Harvard University - Harvard Busi...,Traditional,19850601.0,"Palo Alto, CA, United States",Acquired,"Alta Colleges, Inc.",19870601.0,496,NaN,NaN,Consumer Services,"Denver, CO, United States","['Jamie\xa0Turner ', 'Kirk\xa0Riedinger']",['Rob\xa0Johnson '],[]
2,2,Hanover West,Traditional,19860101.0,"Washington, DC, United States",Acquired,Atlas Container Corporation,19881101.0,501,NaN,http://atlascontainer.com/,Manufacturing,"Severn, MD, United States","['Paul\xa0Centenari ', 'Peter\xa0Centenari ']",[],[]
3,3,David Dodson - 1st Fund Stanford University -...,Traditional,19870601.0,"Stanford, CA, United States",Acquired,Smith Alarm Systems,19890101.0,418,NaN,NaN,Business Services,NaN,['David\xa0Dodson'],"['Bill\xa0Egan ', 'Mark\xa0Egan ', 'Jim\xa0Sou...",[]
4,4,Balkin Corp Stanford University,Traditional,19910101.0,"Redwood City, CA, United States",Acquired,Western Cable Systems,19910101.0,430,NaN,NaN,Utilities,"San Francisco, CA, United States",['Jeff\xa0Stevens'],[],[]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1944,1944,"Golden Eagle Capital Partners, LLC",Traditional,NaN,"Chicago, IL, USA",Explore,NaN,NaN,2046,NaN,NaN,NaN,NaN,[],[],[]
1945,1945,Infini Capital Partners,Traditional,20171001.0,"Barranquilla - Atlantico, Colombia",Search,NaN,NaN,767,www.infini.com.co,NaN,NaN,NaN,"['Alberto\xa0Betancourt', 'Rafael\xa0Zambrano']","['Jos√©\xa0Moreno', 'Blake\xa0Winchell ', 'Sand...",[]
1946,1946,Heritage Holding,Single Sponsor,20150601.0,"Boston, MA, USA",Explore,NaN,NaN,1535,NaN,NaN,NaN,NaN,['Tim\xa0Rooney'],[],[]
1947,1947,Arbor Lane Capital Partners LLC,Self Funded,20210101.0,"Chicago, IL, USA",Search,NaN,NaN,1791,http://www.arborlanecapital.com,NaN,NaN,NaN,['Joanne\xa0Poon'],[],[]
1948,1948,West 88 Partners,Traditional,20210304.0,"Calgary, AB, Canada",Explore,NaN,NaN,2047,www.west88partners.com,NaN,NaN,NaN,"['Ameel\xa0Velji', 'Matthew\xa0Hanson']",[],[]

In [308]:
#turing the formed and acquired fields into datetime format
df['formed'] = pd.to_datetime(df['formed'].astype(str), format = '%Y%m%d.0')
df['acquired'] = pd.to_datetime(df['acquired'].astype(str), format = '%Y%m%d.0')

In [309]:
#find the amount of days between forming fund and acquisition
df['search time'] = (df['acquired'] - df['formed']).dt.days

In [310]:
df['searchers'] = df['searchers'].replace(['\xa0'],[' '])

In [311]:
df['searchers'][0][0]

'['

In [312]:
#convert from list to string
df['searchers'] = df['searchers'].apply(lambda x: x[1:-1])
df['investors'] = df['investors'].apply(lambda x: x[1:-1])
df['associates'] = df['associates'].apply(lambda x: x[1:-1])

In [323]:
type(df['searchers'][0])

str

In [321]:
df['searchers']

0                                   'Jim\xa0Southern'
1             'Jamie\xa0Turner ', 'Kirk\xa0Riedinger'
2         'Paul\xa0Centenari ', 'Peter\xa0Centenari '
3                                   'David\xa0Dodson'
4                                   'Jeff\xa0Stevens'
                            ...
1944
1945    'Alberto\xa0Betancourt', 'Rafael\xa0Zambrano'
1946                                  'Tim\xa0Rooney'
1947                                 'Joanne\xa0Poon'
1948            'Ameel\xa0Velji', 'Matthew\xa0Hanson'
Name: searchers, Length: 1949, dtype: object

In [291]:
df

,Unnamed: 0,name,type,formed,location_x,stage,company,acquired,searchfund_index,searchWebsite,companyWebsite,industry,location_y,searchers,investors,associates,search time
0,0,Nova Capital,Single Sponsor,1984-01-01,"Boston, MA, United States",Acquired,Uniform Printing,1984-01-01,420,NaN,NaN,Business Services,"Fort Worth, TX, United States",'Jim\xa0Southern','Irv\xa0Grousbeck',,0.0
1,1,Galena Corp Harvard University - Harvard Busi...,Traditional,1985-06-01,"Palo Alto, CA, United States",Acquired,"Alta Colleges, Inc.",1987-06-01,496,NaN,NaN,Consumer Services,"Denver, CO, United States","'Jamie\xa0Turner ', 'Kirk\xa0Riedinger'",'Rob\xa0Johnson ',,730.0
2,2,Hanover West,Traditional,1986-01-01,"Washington, DC, United States",Acquired,Atlas Container Corporation,1988-11-01,501,NaN,http://atlascontainer.com/,Manufacturing,"Severn, MD, United States","'Paul\xa0Centenari ', 'Peter\xa0Centenari '",,,1035.0
3,3,David Dodson - 1st Fund Stanford University -...,Traditional,1987-06-01,"Stanford, CA, United States",Acquired,Smith Alarm Systems,1989-01-01,418,NaN,NaN,Business Services,NaN,'David\xa0Dodson',"'Bill\xa0Egan ', 'Mark\xa0Egan ', 'Jim\xa0Sout...",,580.0
4,4,Balkin Corp Stanford University,Traditional,1991-01-01,"Redwood City, CA, United States",Acquired,Western Cable Systems,1991-01-01,430,NaN,NaN,Utilities,"San Francisco, CA, United States",'Jeff\xa0Stevens',,,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1944,1944,"Golden Eagle Capital Partners, LLC",Traditional,NaT,"Chicago, IL, USA",Explore,NaN,NaT,2046,NaN,NaN,NaN,NaN,,,,NaN
1945,1945,Infini Capital Partners,Traditional,2017-10-01,"Barranquilla - Atlantico, Colombia",Search,NaN,NaT,767,www.infini.com.co,NaN,NaN,NaN,"'Alberto\xa0Betancourt', 'Rafael\xa0Zambrano'","'Jos√©\xa0Moreno', 'Blake\xa0Winchell ', 'Sandr...",,NaN
1946,1946,Heritage Holding,Single Sponsor,2015-06-01,"Boston, MA, USA",Explore,NaN,NaT,1535,NaN,NaN,NaN,NaN,'Tim\xa0Rooney',,,NaN
1947,1947,Arbor Lane Capital Partners LLC,Self Funded,2021-01-01,"Chicago, IL, USA",Search,NaN,NaT,1791,http://www.arborlanecapital.com,NaN,NaN,NaN,'Joanne\xa0Poon',,,NaN
1948,1948,West 88 Partners,Traditional,2021-03-04,"Calgary, AB, Canada",Explore,NaN,NaT,2047,www.west88partners.com,NaN,NaN,NaN,"'Ameel\xa0Velji', 'Matthew\xa0Hanson'",,,NaN

In [225]:
#df['searcherstring'] = df["searcherstring"].apply(eval)
#df['investors'] = df['investors'].apply(eval)
#df['associates'] = df['associates'].apply(eval)

In [238]:
df['searcherstring'] = df['searcherstring'].replace(['\\xa0'], ' ')

In [247]:
df

,Unnamed: 0,name,type,formed,location_x,stage,company,acquired,searchfund_index,searchWebsite,companyWebsite,industry,location_y,searchers,investors,associates,search time,searcherstring
0,0,Nova Capital,Single Sponsor,1984-01-01,"Boston, MA, United States",Acquired,Uniform Printing,1984-01-01,420,NaN,NaN,Business Services,"Fort Worth, TX, United States",[Jim¬†Southern],['Irv\xa0Grousbeck'],[],0.0,'Jim Southern'
1,1,Galena Corp Harvard University - Harvard Busi...,Traditional,1985-06-01,"Palo Alto, CA, United States",Acquired,"Alta Colleges, Inc.",1987-06-01,496,NaN,NaN,Consumer Services,"Denver, CO, United States","[Jamie¬†Turner , Kirk¬†Riedinger]",['Rob\xa0Johnson '],[],730.0,"'Jamie Turner ', 'Kirk Riedinger'"
2,2,Hanover West,Traditional,1986-01-01,"Washington, DC, United States",Acquired,Atlas Container Corporation,1988-11-01,501,NaN,http://atlascontainer.com/,Manufacturing,"Severn, MD, United States","[Paul¬†Centenari , Peter¬†Centenari ]",[],[],1035.0,"'Paul\xa0Centenari ', 'Peter\xa0Centenari '"
3,3,David Dodson - 1st Fund Stanford University -...,Traditional,1987-06-01,"Stanford, CA, United States",Acquired,Smith Alarm Systems,1989-01-01,418,NaN,NaN,Business Services,NaN,[David¬†Dodson],"['Bill\xa0Egan ', 'Mark\xa0Egan ', 'Jim\xa0Sou...",[],580.0,'David\xa0Dodson'
4,4,Balkin Corp Stanford University,Traditional,1991-01-01,"Redwood City, CA, United States",Acquired,Western Cable Systems,1991-01-01,430,NaN,NaN,Utilities,"San Francisco, CA, United States",[Jeff¬†Stevens],[],[],0.0,'Jeff\xa0Stevens'
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1944,1944,"Golden Eagle Capital Partners, LLC",Traditional,NaT,"Chicago, IL, USA",Explore,NaN,NaT,2046,NaN,NaN,NaN,NaN,[],[],[],NaN,
1945,1945,Infini Capital Partners,Traditional,2017-10-01,"Barranquilla - Atlantico, Colombia",Search,NaN,NaT,767,www.infini.com.co,NaN,NaN,NaN,"[Alberto¬†Betancourt, Rafael¬†Zambrano]","['Jos√©\xa0Moreno', 'Blake\xa0Winchell ', 'Sand...",[],NaN,"'Alberto\xa0Betancourt', 'Rafael\xa0Zambrano'"
1946,1946,Heritage Holding,Single Sponsor,2015-06-01,"Boston, MA, USA",Explore,NaN,NaT,1535,NaN,NaN,NaN,NaN,[Tim¬†Rooney],[],[],NaN,'Tim\xa0Rooney'
1947,1947,Arbor Lane Capital Partners LLC,Self Funded,2021-01-01,"Chicago, IL, USA",Search,NaN,NaT,1791,http://www.arborlanecapital.com,NaN,NaN,NaN,[Joanne¬†Poon],[],[],NaN,'Joanne\xa0Poon'
1948,1948,West 88 Partners,Traditional,2021-03-04,"Calgary, AB, Canada",Explore,NaN,NaT,2047,www.west88partners.com,NaN,NaN,NaN,"[Ameel¬†Velji, Matthew¬†Hanson]",[],[],NaN,"'Ameel\xa0Velji', 'Matthew\xa0Hanson'"

In [120]:
#def clean_alt_list(list_):
 #   list_ = list_.replace(', ', '","')
  #  list_ = list_.replace('[', '["')
   # list_ = list_.replace(']', '"]')
    #return list_

In [121]:
#df['searchers'] = df["searchers"].apply(clean_alt_list)

In [292]:
df.to_csv("TestDf2.csv", index = False)

In [118]:
df["searchers"][0] = df['searchers'][0].replace("\xa0", " ", regex =True)

TypeError: str.replace() takes no keyword arguments

In [119]:
df['searchers'][0]

"['Jim\\xa0Southern']"

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1949 entries, 0 to 1948
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        1949 non-null   int64
 1   name              1948 non-null   object
 2   type              1949 non-null   object
 3   formed            1949 non-null   object
 4   location_x        1949 non-null   object
 5   stage             1949 non-null   object
 6   company           614 non-null    object
 7   acquired          1949 non-null   object
 8   searchfund_index  1949 non-null   int64
 9   searchWebsite     1382 non-null   object
 10  companyWebsite    548 non-null    object
 11  industry          597 non-null    object
 12  location_y        599 non-null    object
 13  searchers         1949 non-null   object
 14  investors         1949 non-null   object
 15  associates        1949 non-null   object
dtypes: int64(2), object(14)
memory usage: 243.8+ KB

In [30]:
df["formed"][0]

str

In [27]:
df['formed'] = pd.to_datetime(df['formed'], format = "%y/%m/%d")

ValueError: time data '19840101.0' does not match format '%y/%m/%d' (match)